@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
}

body::before{
    content: '';
    background-color: #121214;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    height: 368px;
    z-index: -1;
}
 
#container{
    width: 736px;
    margin: auto;
}

 header{
    width: 319px;
    margin-top: 74px;
 }

header h1{
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: white;
    margin-bottom: 24px;
}

header p{
    font-size: 16px;
    line-height: 26px;
    color: #42D3FF;
}

form{
    margin-top: 38px;
    background-color: #FAFAFC;
    border-radius: 8px 8px 0px 0px;
    min-height: 300px;
    width: 736px;
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

fieldset{
    border: none;
}

.fieldset-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

fieldset legend{
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    border-bottom: 1px solid #E6E6F0;
    width: 100%;
    padding-bottom: 16px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
  }
  

.input-wrapper label, .checkbox-wrapper label{
    font-size: 14px;
    color: #4E4958;
    line-height: 24px;
    margin-bottom: 8px;
}

.input-wrapper label span{
    font-size: 12px;
    color: #6b696e;
    margin-left: 12px;
    line-height: 20px;
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select{
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    height: 56px;
    padding: 0 24px;
    font-size: 16px;
    line-height: 26px;
    color: #6c6a71;
    font-family: 'Poppins', sans-serif;
}

.input-wrapper textarea {
    height: 168px;
}
  

.input-wrapper select{
    -webkit-appearance: none;
    appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 24px top 50%;
}

#event-date{
    display: flex;
    gap: 20px;
    width: 100%;
}

.col-3{
    display: flex;
    gap: 20px;
}

.col-3 > div:nth-child(1){
    width: 100%;
}

.checkbox-wrapper{
    position: relative;
}

.checkbox-wrapper label{
   margin: 0;
   display: flex;
   align-items: center;
   gap: 16px;
}

.checkbox-wrapper input{
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    opacity: 0;
}

.checkbox-wrapper label::before{
    content: '';
    width: 24px;
    height: 24px;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    display: block;
}

.checkbox-wrapper input:checked + label::before{
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox-wrapper input:focus + label::before{
    outline: 2px solid black;
}

footer{
    height: 136px;
    background: #F0F0F4;
    display: flex;
    flex-direction: column;
    padding: 40px 64px;
    border-radius: 0px 0px 8px 8px;
    margin-bottom: 100px;
    border-top: 1px solid #D6D6D6;
}

footer input{
    background: #04D361;
    border: none;
    padding: 15px 40px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    font-family: 'Archivo', sans-serif;
}

footer input:hover{
    cursor: pointer;
    background: #038b40;
}

input:invalid{
    border: 2px solid red;
}
